<a href="https://colab.research.google.com/github/rajnishrajput12/MachineLearning/blob/master/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
#import gensim
##from gensim import corpora
##import spacy
import scipy
##import nltk
from nltk.corpus import stopwords 
from nltk.stem.wordnet import WordNetLemmatizer
import string
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
import string
##from nltk import word_tokenize
import pickle
import os
##from nltk import pos_tag
##from sklearn.feature_extraction.text import CountVectorizer
##import scipy
from gensim import matutils,models

In [0]:
!pip install -q gensim ## to install gensim

In [22]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
doc1 = "Sugar is bad to consume. My sister likes to have sugar, but not my father."
doc2 = "My father spends a lot of time driving my sister around to dance practice."
doc3 = "Doctors suggest that driving may cause increased stress and blood pressure."
doc4 = "Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better."
doc5 = "Health experts say that Sugar is not good for your lifestyle."

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5]

In [0]:
doc_complete

['Sugar is bad to consume. My sister likes to have sugar, but not my father.',
 'My father spends a lot of time driving my sister around to dance practice.',
 'Doctors suggest that driving may cause increased stress and blood pressure.',
 'Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better.',
 'Health experts say that Sugar is not good for your lifestyle.']

In [0]:
# exclude = set(string.punctuation) 
# lemma = WordNetLemmatizer()
# def clean(doc):
#     punc_free = ''.join(ch for ch in doc if ch not in exclude)
#     return punc_free

doc_clean = [doc.split() for doc in doc_complete]

In [0]:
doc_term_matrix

[[(0, 1),
  (1, 1),
  (2, 1),
  (3, 1),
  (4, 1),
  (5, 1),
  (6, 1),
  (7, 1),
  (8, 1),
  (9, 1),
  (10, 1),
  (11, 1),
  (12, 1),
  (13, 2)],
 [(0, 1),
  (9, 1),
  (11, 1),
  (13, 1),
  (14, 1),
  (15, 1),
  (16, 1),
  (17, 1),
  (18, 1),
  (19, 1),
  (20, 1),
  (21, 1),
  (22, 1),
  (23, 1)],
 [(17, 1),
  (24, 1),
  (25, 1),
  (26, 1),
  (27, 1),
  (28, 1),
  (29, 1),
  (30, 1),
  (31, 1),
  (32, 1),
  (33, 1)],
 [(3, 1),
  (9, 2),
  (11, 1),
  (13, 3),
  (18, 1),
  (34, 1),
  (35, 1),
  (36, 1),
  (37, 1),
  (38, 1),
  (39, 1),
  (40, 1),
  (41, 1),
  (42, 1),
  (43, 1),
  (44, 1),
  (45, 1),
  (46, 1)],
 [(1, 1),
  (7, 1),
  (10, 1),
  (33, 1),
  (47, 1),
  (48, 1),
  (49, 1),
  (50, 1),
  (51, 1),
  (52, 1),
  (53, 1)]]

In [0]:
# Importing Gensim

# Creating the term dictionary of our courpus, where every unique term is assigned an index. 
dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [0]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
ldamodel = Lda(doc_term_matrix, num_topics=3, id2word = dictionary, passes=50)

In [0]:
print(ldamodel.print_topics(num_topics=3, num_words=3))

[(0, '0.082*"to" + 0.063*"my" + 0.044*"sister"'), (1, '0.053*"not" + 0.053*"is" + 0.053*"Sugar"'), (2, '0.046*"driving" + 0.046*"that" + 0.046*"increased"')]

In [0]:
##da = pd.DataFrame(doc_complete,columns=['text'])

In [0]:
##dd = da['text']

In [0]:
type(doc_complete)

list

In [0]:
count = CountVectorizer(stop_words='english')
cc = count.fit_transform(doc_complete)
count.get_feature_names()

['bad',
 'better',
 'blood',
 'cause',
 'consume',
 'dance',
 'doctors',
 'drive',
 'driving',
 'experts',
 'father',
 'feel',
 'good',
 'health',
 'increased',
 'lifestyle',
 'likes',
 'lot',
 'perform',
 'practice',
 'pressure',
 'say',
 'school',
 'sister',
 'spends',
 'stress',
 'sugar',
 'suggest',
 'time']

In [0]:
count.vocabulary_.items()

dict_items([('sugar', 26), ('bad', 0), ('consume', 4), ('sister', 23), ('likes', 16), ('father', 10), ('spends', 24), ('lot', 17), ('time', 28), ('driving', 8), ('dance', 5), ('practice', 19), ('doctors', 6), ('suggest', 27), ('cause', 3), ('increased', 14), ('stress', 25), ('blood', 2), ('pressure', 20), ('feel', 11), ('perform', 18), ('school', 22), ('drive', 7), ('better', 1), ('health', 13), ('experts', 9), ('say', 21), ('good', 12), ('lifestyle', 15)])

In [0]:
dtm = pd.DataFrame(cc.toarray(),columns=count.get_feature_names())

In [0]:
dtm ## docunent term matric

,bad,better,blood,cause,consume,dance,doctors,drive,driving,experts,...,practice,pressure,say,school,sister,spends,stress,sugar,suggest,time
0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,2,0,0
1,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,1,1,0,0,0,1
2,0,0,1,1,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
3,0,1,0,0,0,0,0,1,0,0,...,0,1,0,1,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0

In [0]:
tdm = dtm.transpose() ## mgensim for LDA needs the TDM or the transpose of DTM

In [0]:
tdm

           0  1  2  3  4
bad        1  0  0  0  0
better     0  0  0  1  0
blood      0  0  1  0  0
cause      0  0  1  0  0
consume    1  0  0  0  0
dance      0  1  0  0  0
doctors    0  0  1  0  0
drive      0  0  0  1  0
driving    0  1  1  0  0
experts    0  0  0  0  1
father     1  1  0  1  0
feel       0  0  0  1  0
good       0  0  0  0  1
health     0  0  0  0  1
increased  0  0  1  0  0
lifestyle  0  0  0  0  1
likes      1  0  0  0  0
lot        0  1  0  0  0
perform    0  0  0  1  0
practice   0  1  0  0  0
pressure   0  0  1  1  0
say        0  0  0  0  1
school     0  0  0  1  0
sister     1  1  0  1  0
spends     0  1  0  0  0
stress     0  0  1  0  0
sugar      2  0  0  0  1
suggest    0  0  1  0  0
time       0  1  0  0  0

In [0]:
sparse_corpus = scipy.sparse.csr_matrix(tdm)
corpus = gensim.matutils.Sparse2Corpus(sparse_corpus)

In [0]:
lda = gensim.models.ldamodel.LdaModel

In [0]:
id2word = dict((v,k) for v, k in count.vocabulary_.items())

In [0]:
ldamodel = lda(dtm,id2word=id2word,num_topics=3,passes=10)

TypeError: ignored

In [0]:
doc1 = "Sugar is bad to consume. My sister likes to have sugar, but not my father."
doc2 = "My father spends a lot of time driving my sister around to dance practice."
doc3 = "Doctors suggest that driving may cause increased stress and blood pressure."
doc4 = "Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better."
doc5 = "Health experts say that Sugar is not good for your lifestyle."

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5]

In [3]:
doc_complete

['Sugar is bad to consume. My sister likes to have sugar, but not my father.',
 'My father spends a lot of time driving my sister around to dance practice.',
 'Doctors suggest that driving may cause increased stress and blood pressure.',
 'Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better.',
 'Health experts say that Sugar is not good for your lifestyle.']

In [0]:
data = pd.DataFrame(doc_complete,columns=['trans'])

In [0]:
##### topic modeling for 20NS group #########

In [6]:
df = pd.read_json('https://raw.githubusercontent.com/selva86/datasets/master/newsgroups.json')
print(df.target_names.unique())
df.head()

['rec.autos' 'comp.sys.mac.hardware' 'rec.motorcycles' 'misc.forsale'
 'comp.os.ms-windows.misc' 'alt.atheism' 'comp.graphics'
 'rec.sport.baseball' 'rec.sport.hockey' 'sci.electronics' 'sci.space'
 'talk.politics.misc' 'sci.med' 'talk.politics.mideast'
 'soc.religion.christian' 'comp.windows.x' 'comp.sys.ibm.pc.hardware'
 'talk.politics.guns' 'talk.religion.misc' 'sci.crypt']

,content,target,target_names
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,rec.autos
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,comp.sys.mac.hardware
10,From: irwin@cmptrc.lonestar.org (Irwin Arnstei...,8,rec.motorcycles
100,From: tchen@magnus.acs.ohio-state.edu (Tsung-K...,6,misc.forsale
1000,From: dabl2@nlm.nih.gov (Don A.B. Lindbergh)\n...,2,comp.os.ms-windows.misc

In [9]:
text = df['content']
text.head()

0       From: lerxst@wam.umd.edu (where's my thing)\nS...
1       From: guykuo@carson.u.washington.edu (Guy Kuo)...
10      From: irwin@cmptrc.lonestar.org (Irwin Arnstei...
100     From: tchen@magnus.acs.ohio-state.edu (Tsung-K...
1000    From: dabl2@nlm.nih.gov (Don A.B. Lindbergh)\n...
Name: content, dtype: object

In [0]:
punc = set(string.punctuation)

In [0]:
def clean_text(text):
  text_tokenize = word_tokenize(text)
  text_no_puc = [word for word in text_tokenize if not word.lower() in punc]
  text_pos = pos_tag(text_no_puc)
  text_noun = [word for word,tag in text_pos if(tag == 'NN' or tag == 'NNP' or tag == 'NNS' or tag == 'NNPS')]
  text_noun = " ".join(text_noun)
  return text_noun

In [0]:
noun_text = text.apply(clean_text)

In [66]:
noun_text.head()

0       lerxst wam.umd.edu thing Subject WHAT car rac3...
1       carson.u.washington.edu Guy Kuo Subject SI Clo...
10      cmptrc.lonestar.org Irwin Arnstein Subject Re ...
100     Tsung-Kun Chen Subject ** Software lots Nntp-P...
1000    Don A.B Lindbergh Subject Diamond SS24X Win Mo...
Name: content, dtype: object

In [0]:
'''
filename = '20ns_clean_withstop.pkl' ## crating a file
pickle.dump(noun_text,open(filename,'wb'))## writnig the model to the file
run only when you want to pickle this file
''

In [28]:
os.getcwd()

'/content'

In [91]:
os.listdir()

['sample_data',
 '.config',
 '20nsLDAmodel.pkl',
 'ran_for_iris.sav',
 '20ns_clean_withstop.pkl']

In [0]:
##from google.colab import files
##files.download('20ns_clean_withstop.pkl')
## run only when you want to down it to local drive

In [0]:
cnt_vect = CountVectorizer(stop_words='english')
text_vect = cnt_vect.fit_transform(noun_text)

In [78]:
cnt_vect.get_feature_names()[10000:10020]

['annihiliation',
 'annimation',
 'anniston',
 'anniv',
 'anniversaries',
 'anniversary',
 'anniversery',
 'anno',
 'annointed',
 'annoncement',
 'annotation',
 'annotations',
 'annother',
 'announce',
 'announced',
 'announcement',
 'announcementof',
 'announcements',
 'announcer',
 'announcers']

In [0]:
DTM = pd.DataFrame(text_vect.toarray(),columns=cnt_vect.get_feature_names())

In [80]:
DTM.head()

,00,000,00000315,00010001b,00014,0005111312na1em,000710,000956,001,00100010b,...,zzzzzzt,Âªl,Â³ation,Ã§ait,Ã§on,Ã¨re,Ã©gligent,Ã©langea,Ã­Ã¥littin,Ã½Ã©
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
TDM = DTM.transpose()

In [0]:
sparse_tex = scipy.sparse.csr_matrix(TDM)
corpus = matutils.Sparse2Corpus(sparse_tex)

In [0]:
id2word = dict((v,k) for k,v in cnt_vect.vocabulary_.items())

In [0]:
lda_model = models.LdaModel(corpus = corpus,id2word=id2word,num_topics=20,passes=20)

In [87]:
lda_model.print_topics()

[(0,
  '0.036*"god" + 0.018*"jesus" + 0.013*"people" + 0.008*"christians" + 0.008*"church" + 0.007*"life" + 0.007*"christ" + 0.007*"edu" + 0.007*"subject" + 0.006*"bible"'),
 (1,
  '0.010*"chi" + 0.009*"bos" + 0.008*"det" + 0.008*"min" + 0.008*"tor" + 0.007*"van" + 0.007*"que" + 0.007*"radar" + 0.007*"nyr" + 0.006*"sj"'),
 (2,
  '0.053*"edu" + 0.019*"organization" + 0.019*"subject" + 0.013*"com" + 0.011*"article" + 0.010*"lines" + 0.010*"cmu" + 0.010*"host" + 0.009*"andrew" + 0.009*"posting"'),
 (3,
  '0.007*"cx" + 0.005*"_o" + 0.004*"w7" + 0.004*"mv" + 0.004*"hz" + 0.003*"c_" + 0.003*"uw" + 0.003*"ck" + 0.003*"t7" + 0.003*"dartmouth"'),
 (4,
  '0.015*"gun" + 0.013*"com" + 0.012*"people" + 0.010*"government" + 0.009*"guns" + 0.007*"law" + 0.007*"article" + 0.007*"state" + 0.007*"police" + 0.007*"subject"'),
 (5,
  '0.014*"chip" + 0.012*"com" + 0.012*"encryption" + 0.012*"key" + 0.010*"clipper" + 0.008*"keys" + 0.008*"subject" + 0.007*"government" + 0.007*"organization" + 0.007*"information"'),
 (6,
  '0.104*"max" + 0.034*"g9v" + 0.021*"b8f" + 0.019*"a86" + 0.015*"pl" + 0.010*"ax" + 0.009*"bhj" + 0.008*"3t" + 0.008*"giz" + 0.006*"2di"'),
 (7,
  '0.030*"space" + 0.020*"nasa" + 0.014*"gov" + 0.006*"data" + 0.005*"center" + 0.005*"moon" + 0.005*"research" + 0.005*"orbit" + 0.005*"earth" + 0.004*"technology"'),
 (8,
  '0.012*"people" + 0.008*"article" + 0.008*"edu" + 0.007*"science" + 0.007*"evidence" + 0.006*"time" + 0.006*"subject" + 0.006*"example" + 0.006*"book" + 0.005*"university"'),
 (9,
  '0.033*"edu" + 0.029*"com" + 0.020*"organization" + 0.019*"subject" + 0.018*"article" + 0.010*"lines" + 0.008*"posting" + 0.008*"host" + 0.008*"nntp" + 0.008*"car"'),
 (10,
  '0.010*"subject" + 0.010*"organization" + 0.010*"windows" + 0.009*"com" + 0.007*"edu" + 0.007*"software" + 0.007*"lines" + 0.007*"drive" + 0.006*"file" + 0.006*"problem"'),
 (11,
  '0.013*"team" + 0.013*"edu" + 0.012*"game" + 0.011*"year" + 0.010*"organization" + 0.010*"subject" + 0.008*"games" + 0.008*"ca" + 0.007*"players" + 0.007*"article"'),
 (12,
  '0.007*"disease" + 0.007*"health" + 0.007*"duke" + 0.007*"doctor" + 0.007*"patients" + 0.005*"organization" + 0.005*"subject" + 0.005*"aids" + 0.005*"cancer" + 0.005*"dyer"'),
 (13,
  '0.061*"edu" + 0.026*"organization" + 0.026*"university" + 0.025*"subject" + 0.017*"lines" + 0.013*"article" + 0.013*"posting" + 0.012*"host" + 0.012*"nntp" + 0.008*"cwru"'),
 (14,
  '0.015*"people" + 0.014*"armenians" + 0.008*"armenia" + 0.007*"turkey" + 0.007*"turks" + 0.006*"argic" + 0.006*"serdar" + 0.006*"henry" + 0.005*"genocide" + 0.005*"time"'),
 (15,
  '0.009*"san" + 0.008*"la" + 0.008*"pts" + 0.007*"new" + 0.007*"period" + 0.005*"los" + 0.005*"points" + 0.005*"angeles" + 0.005*"chicago" + 0.005*"pt"'),
 (16,
  '0.011*"water" + 0.006*"fnal" + 0.005*"david" + 0.005*"organization" + 0.005*"subject" + 0.005*"speed" + 0.005*"higgins" + 0.004*"russell" + 0.003*"oz" + 0.003*"nubus"'),
 (17,
  '0.021*"edu" + 0.012*"university" + 0.010*"organization" + 0.009*"subject" + 0.007*"new" + 0.007*"sale" + 0.006*"berkeley" + 0.005*"distribution" + 0.004*"harvard" + 0.004*"cs"'),
 (18,
  '0.020*"__" + 0.016*"___" + 0.016*"access" + 0.015*"file" + 0.013*"digex" + 0.012*"entry" + 0.011*"output" + 0.010*"jpeg" + 0.007*"program" + 0.007*"_____"'),
 (19,
  '0.013*"people" + 0.010*"mr" + 0.009*"israel" + 0.008*"president" + 0.006*"article" + 0.006*"stephanopoulos" + 0.005*"jews" + 0.005*"subject" + 0.005*"time" + 0.005*"years"')]

In [0]:
'''
filename = '20nsLDAmodel.pkl' ## crating a file
pickle.dump(lda_model,open(filename,'wb'))## writnig the model to the file
run only hwen you want to pcikle the lDA model
'''

In [0]:
'''
files.download('20nsLDAmodel.pkl')
run only when you want to download the LDA model to yolu local drive
'''

In [0]:
#### LDA modeling for 20NS group finished ######