<a href="https://colab.research.google.com/github/rajnishrajput12/MachineLearning/blob/master/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
#import gensim
##from gensim import corpora
##import spacy
import scipy
import nltk
from nltk.corpus import stopwords 
from nltk.stem.wordnet import WordNetLemmatizer
import string
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
import string
##from nltk import word_tokenize
import pickle
import os
##from nltk import pos_tag
##from sklearn.feature_extraction.text import CountVectorizer
##import scipy
from gensim import matutils,models

In [0]:
!pip install -q gensim ## to install gensim

In [0]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
doc1 = "Sugar is bad to consume. My sister likes to have sugar, but not my father."
doc2 = "My father spends a lot of time driving my sister around to dance practice."
doc3 = "Doctors suggest that driving may cause increased stress and blood pressure."
doc4 = "Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better."
doc5 = "Health experts say that Sugar is not good for your lifestyle."

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5]

In [0]:
doc_complete

['Sugar is bad to consume. My sister likes to have sugar, but not my father.',
 'My father spends a lot of time driving my sister around to dance practice.',
 'Doctors suggest that driving may cause increased stress and blood pressure.',
 'Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better.',
 'Health experts say that Sugar is not good for your lifestyle.']

In [0]:
# exclude = set(string.punctuation) 
# lemma = WordNetLemmatizer()
# def clean(doc):
#     punc_free = ''.join(ch for ch in doc if ch not in exclude)
#     return punc_free

doc_clean = [doc.split() for doc in doc_complete]

In [0]:
doc_term_matrix

[[(0, 1),
  (1, 1),
  (2, 1),
  (3, 1),
  (4, 1),
  (5, 1),
  (6, 1),
  (7, 1),
  (8, 1),
  (9, 1),
  (10, 1),
  (11, 1),
  (12, 1),
  (13, 2)],
 [(0, 1),
  (9, 1),
  (11, 1),
  (13, 1),
  (14, 1),
  (15, 1),
  (16, 1),
  (17, 1),
  (18, 1),
  (19, 1),
  (20, 1),
  (21, 1),
  (22, 1),
  (23, 1)],
 [(17, 1),
  (24, 1),
  (25, 1),
  (26, 1),
  (27, 1),
  (28, 1),
  (29, 1),
  (30, 1),
  (31, 1),
  (32, 1),
  (33, 1)],
 [(3, 1),
  (9, 2),
  (11, 1),
  (13, 3),
  (18, 1),
  (34, 1),
  (35, 1),
  (36, 1),
  (37, 1),
  (38, 1),
  (39, 1),
  (40, 1),
  (41, 1),
  (42, 1),
  (43, 1),
  (44, 1),
  (45, 1),
  (46, 1)],
 [(1, 1),
  (7, 1),
  (10, 1),
  (33, 1),
  (47, 1),
  (48, 1),
  (49, 1),
  (50, 1),
  (51, 1),
  (52, 1),
  (53, 1)]]

In [0]:
# Importing Gensim

# Creating the term dictionary of our courpus, where every unique term is assigned an index. 
dictionary = corpora.Dictionary(doc_clean)

# Converting list of documents (corpus) into Document Term Matrix using dictionary prepared above.
doc_term_matrix = [dictionary.doc2bow(doc) for doc in doc_clean]

In [0]:
# Creating the object for LDA model using gensim library
Lda = gensim.models.ldamodel.LdaModel

# Running and Trainign LDA model on the document term matrix.
ldamodel = Lda(doc_term_matrix, num_topics=3, id2word = dictionary, passes=50)

In [0]:
print(ldamodel.print_topics(num_topics=3, num_words=3))

[(0, '0.082*"to" + 0.063*"my" + 0.044*"sister"'), (1, '0.053*"not" + 0.053*"is" + 0.053*"Sugar"'), (2, '0.046*"driving" + 0.046*"that" + 0.046*"increased"')]

In [0]:
##da = pd.DataFrame(doc_complete,columns=['text'])

In [0]:
##dd = da['text']

In [0]:
type(doc_complete)

list

In [0]:
count = CountVectorizer(stop_words='english')
cc = count.fit_transform(doc_complete)
count.get_feature_names()

['bad',
 'better',
 'blood',
 'cause',
 'consume',
 'dance',
 'doctors',
 'drive',
 'driving',
 'experts',
 'father',
 'feel',
 'good',
 'health',
 'increased',
 'lifestyle',
 'likes',
 'lot',
 'perform',
 'practice',
 'pressure',
 'say',
 'school',
 'sister',
 'spends',
 'stress',
 'sugar',
 'suggest',
 'time']

In [0]:
count.vocabulary_.items()

dict_items([('sugar', 26), ('bad', 0), ('consume', 4), ('sister', 23), ('likes', 16), ('father', 10), ('spends', 24), ('lot', 17), ('time', 28), ('driving', 8), ('dance', 5), ('practice', 19), ('doctors', 6), ('suggest', 27), ('cause', 3), ('increased', 14), ('stress', 25), ('blood', 2), ('pressure', 20), ('feel', 11), ('perform', 18), ('school', 22), ('drive', 7), ('better', 1), ('health', 13), ('experts', 9), ('say', 21), ('good', 12), ('lifestyle', 15)])

In [0]:
dtm = pd.DataFrame(cc.toarray(),columns=count.get_feature_names())

In [0]:
dtm ## docunent term matric

,bad,better,blood,cause,consume,dance,doctors,drive,driving,experts,...,practice,pressure,say,school,sister,spends,stress,sugar,suggest,time
0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,2,0,0
1,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,1,1,0,0,0,1
2,0,0,1,1,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,1,0
3,0,1,0,0,0,0,0,1,0,0,...,0,1,0,1,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0

In [0]:
tdm = dtm.transpose() ## mgensim for LDA needs the TDM or the transpose of DTM

In [0]:
tdm

           0  1  2  3  4
bad        1  0  0  0  0
better     0  0  0  1  0
blood      0  0  1  0  0
cause      0  0  1  0  0
consume    1  0  0  0  0
dance      0  1  0  0  0
doctors    0  0  1  0  0
drive      0  0  0  1  0
driving    0  1  1  0  0
experts    0  0  0  0  1
father     1  1  0  1  0
feel       0  0  0  1  0
good       0  0  0  0  1
health     0  0  0  0  1
increased  0  0  1  0  0
lifestyle  0  0  0  0  1
likes      1  0  0  0  0
lot        0  1  0  0  0
perform    0  0  0  1  0
practice   0  1  0  0  0
pressure   0  0  1  1  0
say        0  0  0  0  1
school     0  0  0  1  0
sister     1  1  0  1  0
spends     0  1  0  0  0
stress     0  0  1  0  0
sugar      2  0  0  0  1
suggest    0  0  1  0  0
time       0  1  0  0  0

In [0]:
sparse_corpus = scipy.sparse.csr_matrix(tdm)
corpus = gensim.matutils.Sparse2Corpus(sparse_corpus)

In [0]:
lda = gensim.models.ldamodel.LdaModel

In [0]:
id2word = dict((v,k) for v, k in count.vocabulary_.items())

In [0]:
ldamodel = lda(dtm,id2word=id2word,num_topics=3,passes=10)

TypeError: ignored

In [0]:
doc1 = "Sugar is bad to consume. My sister likes to have sugar, but not my father."
doc2 = "My father spends a lot of time driving my sister around to dance practice."
doc3 = "Doctors suggest that driving may cause increased stress and blood pressure."
doc4 = "Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better."
doc5 = "Health experts say that Sugar is not good for your lifestyle."

# compile documents
doc_complete = [doc1, doc2, doc3, doc4, doc5]

In [0]:
doc_complete

['Sugar is bad to consume. My sister likes to have sugar, but not my father.',
 'My father spends a lot of time driving my sister around to dance practice.',
 'Doctors suggest that driving may cause increased stress and blood pressure.',
 'Sometimes I feel pressure to perform well at school, but my father never seems to drive my sister to do better.',
 'Health experts say that Sugar is not good for your lifestyle.']

In [0]:
data = pd.DataFrame(doc_complete,columns=['trans'])

In [0]:
##### topic modeling for 20NS group #########

In [0]:
df = pd.read_json('https://raw.githubusercontent.com/selva86/datasets/master/newsgroups.json')
print(df.target_names.unique())
df.head()

['rec.autos' 'comp.sys.mac.hardware' 'rec.motorcycles' 'misc.forsale'
 'comp.os.ms-windows.misc' 'alt.atheism' 'comp.graphics'
 'rec.sport.baseball' 'rec.sport.hockey' 'sci.electronics' 'sci.space'
 'talk.politics.misc' 'sci.med' 'talk.politics.mideast'
 'soc.religion.christian' 'comp.windows.x' 'comp.sys.ibm.pc.hardware'
 'talk.politics.guns' 'talk.religion.misc' 'sci.crypt']

,content,target,target_names
0,From: lerxst@wam.umd.edu (where's my thing)\nS...,7,rec.autos
1,From: guykuo@carson.u.washington.edu (Guy Kuo)...,4,comp.sys.mac.hardware
10,From: irwin@cmptrc.lonestar.org (Irwin Arnstei...,8,rec.motorcycles
100,From: tchen@magnus.acs.ohio-state.edu (Tsung-K...,6,misc.forsale
1000,From: dabl2@nlm.nih.gov (Don A.B. Lindbergh)\n...,2,comp.os.ms-windows.misc

In [0]:
text = df['content']
text.head()

0       From: lerxst@wam.umd.edu (where's my thing)\nS...
1       From: guykuo@carson.u.washington.edu (Guy Kuo)...
10      From: irwin@cmptrc.lonestar.org (Irwin Arnstei...
100     From: tchen@magnus.acs.ohio-state.edu (Tsung-K...
1000    From: dabl2@nlm.nih.gov (Don A.B. Lindbergh)\n...
Name: content, dtype: object

In [0]:
punc = set(string.punctuation)

In [0]:
def clean_text(text):
  text_tokenize = word_tokenize(text)
  text_no_puc = [word for word in text_tokenize if not word.lower() in punc]
  text_no_num = [word for word in text_no_puc if word.isalpha()]
  text_pos = pos_tag(text_no_num)
  text_noun = [word for word,tag in text_pos if(tag == 'NN' or tag == 'NNP' or tag == 'NNS' or tag == 'NNPS' or tag=='JJ')]   ## https://medium.com/@gianpaul.r/tokenization-and-parts-of-speech-pos-tagging-in-pythons-nltk-library-2d30f70af13b
  text_noun = " ".join(text_noun)
  return text_noun

In [0]:
noun_text = text.apply(clean_text)

In [0]:
noun_text.head()

0       lerxst thing Subject WHAT car Organization Uni...
1       guykuo Guy Kuo Subject SI Clock Poll Final Cal...
10      irwin Irwin Arnstein Subject Re Recommendation...
100     tchen Chen Subject Software forsale lots Ohio ...
1000    Don Lindbergh Subject Diamond Win Mouse cursor...
Name: content, dtype: object

In [0]:
'''
filename = '20ns_clean_withstop.pkl' ## crating a file
pickle.dump(noun_text,open(filename,'wb'))## writnig the model to the file
run only when you want to pickle this file
''

In [0]:
os.getcwd()

'/content'

In [0]:
os.listdir()

['sample_data',
 '.config',
 '20nsLDAmodel.pkl',
 'ran_for_iris.sav',
 '20ns_clean_withstop.pkl']

In [0]:
##from google.colab import files
##files.download('20ns_clean_withstop.pkl')
## run only when you want to down it to local drive

In [0]:
cnt_vect = CountVectorizer(stop_words='english')
text_vect = cnt_vect.fit_transform(noun_text)

In [0]:
cnt_vect.get_feature_names()[10000:10020]

['colitis',
 'coll',
 'collaborating',
 'collaboration',
 'collaborations',
 'collaborative',
 'collaborator',
 'collaborators',
 'collacchi',
 'collapse',
 'collapsed',
 'collar',
 'collarbone',
 'collateral',
 'colleague',
 'colleagues',
 'collect',
 'collectable',
 'collected',
 'collectible']

In [0]:
DTM = pd.DataFrame(text_vect.toarray(),columns=cnt_vect.get_feature_names())

In [0]:
DTM.head()

,aa,aaa,aaaa,aaaaaaaaaaaa,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaauuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuugggggggggggggggg,aaaaagggghhhh,aaah,aaahh,aaahhhh,aaai,...,zzzz,zzzzzz,ªl,çait,çon,ère,égligent,élangea,érale,íålittin
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
TDM = DTM.transpose()

In [0]:
sparse_tex = scipy.sparse.csr_matrix(TDM)
corpus = matutils.Sparse2Corpus(sparse_tex)

In [0]:
id2word = dict((v,k) for k,v in cnt_vect.vocabulary_.items())

In [0]:
lda_model = models.LdaModel(corpus = corpus,id2word=id2word,num_topics=20,passes=20)

In [0]:
lda_model.print_topics()

[(0,
  '0.011*"key" + 0.009*"israel" + 0.009*"government" + 0.008*"subject" + 0.008*"encryption" + 0.008*"chip" + 0.007*"people" + 0.007*"lines" + 0.007*"clipper" + 0.007*"organization"'),
 (1,
  '0.017*"turkish" + 0.017*"armenian" + 0.016*"armenians" + 0.009*"armenia" + 0.009*"people" + 0.008*"turks" + 0.008*"turkey" + 0.007*"argic" + 0.007*"serdar" + 0.006*"world"'),
 (2,
  '0.149*"max" + 0.030*"jesus" + 0.011*"christ" + 0.010*"law" + 0.009*"matthew" + 0.009*"giz" + 0.008*"lord" + 0.008*"god" + 0.008*"paul" + 0.006*"wm"'),
 (3,
  '0.013*"president" + 0.011*"stephanopoulos" + 0.006*"money" + 0.006*"national" + 0.006*"government" + 0.006*"tax" + 0.005*"health" + 0.005*"program" + 0.005*"april" + 0.004*"year"'),
 (4,
  '0.022*"gun" + 0.011*"guns" + 0.010*"people" + 0.009*"weapons" + 0.008*"control" + 0.007*"crime" + 0.007*"firearms" + 0.006*"right" + 0.006*"police" + 0.006*"amendment"'),
 (5,
  '0.020*"db" + 0.010*"ah" + 0.007*"air" + 0.005*"gm" + 0.005*"cs" + 0.004*"mov" + 0.004*"st" + 0.004*"mv" + 0.004*"md" + 0.003*"jb"'),
 (6,
  '0.016*"drive" + 0.015*"lines" + 0.015*"card" + 0.015*"subject" + 0.014*"organization" + 0.010*"disk" + 0.009*"problem" + 0.009*"mac" + 0.008*"scsi" + 0.008*"hard"'),
 (7,
  '0.021*"subject" + 0.020*"lines" + 0.020*"organization" + 0.011*"article" + 0.007*"distribution" + 0.006*"oil" + 0.006*"university" + 0.005*"institute" + 0.005*"new" + 0.004*"scott"'),
 (8,
  '0.012*"subject" + 0.010*"organization" + 0.009*"lines" + 0.009*"article" + 0.008*"people" + 0.007*"wire" + 0.006*"fbi" + 0.006*"good" + 0.006*"ground" + 0.005*"koresh"'),
 (9,
  '0.015*"file" + 0.011*"subject" + 0.011*"windows" + 0.010*"program" + 0.010*"lines" + 0.009*"window" + 0.008*"organization" + 0.008*"available" + 0.008*"software" + 0.008*"version"'),
 (10,
  '0.008*"people" + 0.008*"article" + 0.007*"new" + 0.005*"men" + 0.005*"drugs" + 0.004*"study" + 0.004*"subject" + 0.004*"university" + 0.004*"organization" + 0.004*"lines"'),
 (11,
  '0.016*"team" + 0.014*"game" + 0.011*"games" + 0.010*"year" + 0.009*"hockey" + 0.008*"subject" + 0.008*"players" + 0.008*"season" + 0.008*"lines" + 0.008*"organization"'),
 (12,
  '0.028*"organization" + 0.027*"subject" + 0.027*"lines" + 0.018*"article" + 0.015*"university" + 0.008*"distribution" + 0.007*"good" + 0.007*"usa" + 0.006*"new" + 0.005*"bike"'),
 (13,
  '0.025*"subject" + 0.024*"lines" + 0.023*"organization" + 0.019*"car" + 0.016*"university" + 0.010*"article" + 0.007*"cars" + 0.007*"distribution" + 0.006*"texas" + 0.006*"good"'),
 (14,
  '0.017*"keith" + 0.016*"organization" + 0.016*"lines" + 0.015*"subject" + 0.013*"morality" + 0.011*"objective" + 0.010*"article" + 0.010*"sandvik" + 0.009*"jon" + 0.009*"moral"'),
 (15,
  '0.023*"space" + 0.007*"nasa" + 0.006*"subject" + 0.006*"organization" + 0.006*"lines" + 0.005*"data" + 0.005*"power" + 0.005*"research" + 0.004*"center" + 0.004*"launch"'),
 (16,
  '0.026*"god" + 0.016*"people" + 0.009*"subject" + 0.008*"life" + 0.007*"time" + 0.007*"way" + 0.007*"christian" + 0.007*"lines" + 0.007*"good" + 0.007*"bible"'),
 (17,
  '0.010*"subject" + 0.010*"msg" + 0.010*"lines" + 0.009*"organization" + 0.008*"food" + 0.007*"university" + 0.006*"article" + 0.005*"catholic" + 0.005*"church" + 0.005*"michael"'),
 (18,
  '0.013*"gordon" + 0.011*"banks" + 0.011*"lines" + 0.011*"subject" + 0.011*"organization" + 0.010*"article" + 0.010*"geb" + 0.008*"medical" + 0.007*"doctor" + 0.006*"disease"'),
 (19,
  '0.018*"people" + 0.010*"time" + 0.007*"way" + 0.006*"henry" + 0.006*"things" + 0.006*"man" + 0.006*"years" + 0.005*"article" + 0.005*"organization" + 0.005*"subject"')]

In [0]:
'''
filename = '20nsLDAmodel.pkl' ## crating a file
pickle.dump(lda_model,open(filename,'wb'))## writnig the model to the file
run only hwen you want to pcikle the lDA model
'''

In [0]:
'''
files.download('20nsLDAmodel.pkl')
run only when you want to download the LDA model to yolu local drive
'''

In [0]:
#### LDA modeling for 20NS group finished ######