In [54]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.datasets import load_digits
from sklearn.datasets import fetch_mldata
from sklearn.model_selection import train_test_split
import pickle

In [ ]:
## https://www.youtube.com/watch?v=kApPBm1YsqU

In [3]:
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
data_iris = pd.read_csv(url,names=['sepal length','sepal width','petal length','petal width','target'])
data_iris.to_csv('IRIS_data.csv')

In [7]:
data_iris.head()

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
data_iris['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
data_iris['target'] = data_iris['target'].map({'Iris-setosa':'0','Iris-versicolor':'1','Iris-virginica':'2'})

In [10]:
data_iris.head()

   sepal length  sepal width  petal length  petal width target
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [14]:
## notice it has 4 dimension now lets reduce it to 2 dimenaion 
## but to do that you must scale your data
## using standarddcaler
feature_col = data_iris.columns[0:len(data_iris.columns)-1]
X_iris = data_iris[feature_col]

In [15]:
X_iris.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
data_iris.columns[0:4]

Index(['sepal length', 'sepal width', 'petal length', 'petal width'], dtype='object')

In [16]:
y_iris = data_iris['target']
y_iris.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: object

In [20]:
X_iris = StandardScaler().fit_transform(X_iris)

In [22]:
X_iris = pd.DataFrame(data=X_iris,columns=data_iris.columns[0:4])
X_iris.head()

   sepal length  sepal width  petal length  petal width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [24]:
pca = PCA(n_components=2)

In [25]:
X_iris_principle = pca.fit_transform(X_iris)

In [26]:
pricnipl_df = pd.DataFrame(data=X_iris_principle,columns=['principle1','pricniple2'])
pricnipl_df.head()

   principle1  pricniple2
0   -2.264542    0.505704
1   -2.086426   -0.655405
2   -2.367950   -0.318477
3   -2.304197   -0.575368
4   -2.388777    0.674767

In [27]:
pca.explained_variance_ratio_
## this means that therse two principle component is explaining (72+23)% of varience wtihn principle1 ios able to explain 72% of change 
## and principle2 os bale to explain 23% of change 
## notice that with rfemoveal of from 4 dimension to 2 dimension resulted in information loss

array([0.72770452, 0.23030523])

## PCA on MNIST data

In [61]:
mnist = fetch_mldata('MNIST original')

TypeError: file must have 'read' and 'readline' attributes

In [34]:
mnist_data = mnist.data
mnist_target = mnist.target

(1797, 64)
(1797,)

In [41]:
train_img,test_img,train_lbl,test_lbl = train_test_split(mnist.data,mnist.target,test_size=0.2,random_state=20)

In [42]:
print(train_img.shape)
print(test_img.shape)
print(train_lbl.shape)
print(test_lbl.shape)

In [44]:
scaler = StandardScaler()
scaled_train = scaler.fit_transform(train_img)
scaled_test = scaler.transform(test_img)

In [45]:
## pCA
pca = PCA(0.95) ## randomly taking 95 to given pca to decide number of component it can take such that the exlain is 95%

In [46]:
train_pca = pca.fit_transform(scaled_train)
test_pca = pca.transform(scaled_test)

In [49]:
print (pca.n_components_) ## no of coponents pca came up with to expalin 95% of change ## note 329 is way lesser than 748 althougn we are lossing some infomraiton but only 5 % info

1

In [47]:
model_logi = LogisticRegression()
model_logi.fit(train_pca,train_lbl)

(1437, 1)